<form (ngSubmit)="formSubmited()">
<div class="row border p-2">
        <div class="col-sm-2">
            <input type="number" name="aid" [(ngModel)]="account.id"
            class="form-control" readonly/>
        </div>
        <div class="col-sm-3">
            <input type="text" name="mno" [(ngModel)]="account.mobileNumber"
            class="form-control" placeholder="Mobile Number" 
            required pattern="[1-9][0-9]{9}" />
        </div>
        <div class="col-sm-2">
            <select class="form-control" name="pid" placeholder="Tariff Plan"
            [(ngModel)]="account.planId">
                <option value="0">----SELECT TARIFF---</option>
                <option *ngFor="let p of plans" [value]="p.id">{{p.title}}</option>
            </select>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm btn-primary" *ngIf="!isEditing">
                <i class="fa fa-plus"></i> ADD
            </button>
            <button class="btn btn-sm" *ngIf="isEditing">
                <i class="fa fa-save"></i> Save
            </button>
            <button class="btn btn-sm" *ngIf="isEditing" type="button" (click)="cancelEdit()">
                <i class="fa fa-close"></i> Cancel
            </button>
        </div>
</div>
</form>