<section class="container-fluid p-4">
    <div class="col-sm-6 mx-auto">

        <div class="alert bg-dark text-light" *ngIf="errMsg">
            {{errMsg}}
        </div>

        <form #f="ngForm" (ngSubmit)="login()">
            <div class="form-group">
                <label>User Name:</label>
                <input type="text" name="unm" #unm="ngModel"
                     [(ngModel)]="user.userName" class="form-control" required />
                <div class="alert alert-danger" *ngIf="unm.invalid && (unm.dirty || unm.touched)">
                    <span>User Name is mandate</span>
                </div>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="pwd" #pwd="ngModel"
                     [(ngModel)]="user.password" class="form-control" required />
                <div class="alert alert-danger" *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)">
                    <span>Password is mandate</span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" [disabled]="f.invalid">
                    Sign In
                </button>
            </div>
        </form>
    </div>
</section>
