
<h3>Tariff Plans</h3>

<p *ngIf="err">
    <strong>{{err}}</strong>
</p>

<table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>Plan Id</th>
            <th>Title</th>
            <th>Cost</th>
            <th>Validity (in days)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tariffs">
            <td class="text-right">{{t.id}}</td>
            <td>{{t.title}}</td>
            <td class="text-right">{{t.cost}}</td>
            <td class="text-right">{{t.validity}}</td>
            <td>
                <a [routerLink]="['/editTariff',t.id]" class="btn btn-sm">
                    <i class="fa fa-pencil"></i> EDIT
                </a>
                <button class="btn btn-sm" (click)="deleteTariff(t.id)">
                    <i class="fa fa-trash"></i> DELETE
                </button>
            </td>
        </tr>
    </tbody>
</table>
